<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Lobby</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

</head>
<body>
    <h1>Chess engine tester</h1>
    <h2>Game room id: {{game_id}}</h2>
    <h3>Username: {{user}}</h3>
    <form id="form">
        <label for="data_type">Data type
            <input type="text" name="data_type" id="data_type" value="move"/>
        </label>
        <label for="color">Color
            <input type="text" name="color" id="color">
        </label>
        <label for="piece">Piece
            <input type="text" name="piece" id="piece"/>
        </label>
        <label for="new_position">New position
            <input type="text" name="new_position" id="new_position">
        </label>
        <button id="sendButton">Send</button>
    </form>
    <form id="init_form">
        <label for="data_type_init">Data type
            <input type="text" name="data_type" id="data_type_init" value="init_board"/>
        </label>
        <button id="sendInitButton">Send</button>
    </form>

    <div id="messages"></div>

    <script type="text/javascript">
        let url = `ws://${window.location.host}/ws/chess/{{game_id}}`

        const chatSocket = new WebSocket(url)

        chatSocket.onmessage = function(e){
            let data = JSON.parse(e.data)
            console.log('Data:', data)

            let messages = document.getElementById('messages')

            while (messages.firstChild) {
                messages.removeChild(messages.firstChild);
            }

            // Unpack data -
            for (const key in data) {
                if (data.hasOwnProperty(key)) {
                    const value = data[key];
                    messages.insertAdjacentHTML('beforeend', `
                        <div>
                            <p>${key}:</p>
                            <ul>
                                ${generateList(value)}
                            </ul>
                        </div>
                    `);
                }
            }

            function generateList(obj) {
                let listHTML = '';
                for (const innerKey in obj) {
                    if (obj.hasOwnProperty(innerKey)) {
                        const innerValue = obj[innerKey];
                        listHTML += `
                            <li>${innerKey}: ${generateListInRow(innerValue)}</li>
                        `;
                    }
                }
                return listHTML;
            }

            function generateListInRow(obj) {
                let listHTML = '';
                for (const innerKey in obj) {
                    if (obj.hasOwnProperty(innerKey)) {
                        const innerValue = obj[innerKey];
                        if (Array.isArray(innerValue)) {
                            // If it's an array, add square brackets and format the elements
                            const arrayItems = innerValue.map(item => JSON.stringify(item)).join(', ');
                            listHTML += `
                                ${innerKey}: [${arrayItems}],
                            `;
                        } else {
                            // For non-array values, format as before
                            listHTML += `
                                ${innerKey}: ${innerValue},
                            `;
                        }
                    }
                }
                return listHTML;
            }
            // messages.insertAdjacentHTML('beforeend', `<div>
            //                         <p>${data}</p>
            //                     </div>`)
    }

        let form = document.getElementById('form');
        let sendButton = document.getElementById('sendButton');

        let enemy_form = document.getElementById('init_form');
        let sendInitButton = document.getElementById('sendInitButton');


        // SEND DATA
        sendButton.addEventListener('click', (e) => {
        e.preventDefault();

        // Get the values from the form fields
        let data_type = form.data_type.value;
        let color = form.color.value;
        let piece = form.piece.value;
        let new_position = form.new_position.value;

        chatSocket.send(JSON.stringify({
            'data_type': data_type,
            'color': color,
            'piece': piece,
            'new_position': new_position
        }));

        form.reset();
        });

        // SEND ENEMY
        sendInitButton.addEventListener('click', (e) => {
        e.preventDefault();

        // Get the values from the form fields
        let data_type = enemy_form.data_type.value;

        chatSocket.send(JSON.stringify({
            'data_type': data_type
        }));

        enemy_form.reset();
        });

        // form.addEventListener('submit', (e)=> {
        //     e.preventDefault()
        //     let game_id = e.target.game_id.value
        //     let color = e.target.color.value
        //     let piece = e.target.piece.value
        //     let new_position = e.target.new_position.value
        //     chatSocket.send(JSON.stringify({
        //         'game_id': game_id,
        //         'color': color,
        //         'piece': piece,
        //         'new_position': new_position
        //     }))
        //     form.reset()
        // })

    </script>
</body>
</html>