<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Lobby</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

</head>
<body>
    <h1>Chess engine tester</h1>
    <h2>Game room id: {{game_id}}</h2>
    <form id="form">
        <label for="game_id">Game_id
            <input type="text" name="game_id" id="game_id"/>
        </label>
        <label for="color">Color
            <input type="text" name="color" id="color">
        </label>
        <label for="piece">Piece
            <input type="text" name="piece" id="piece"/>
        </label>
        <label for="new_position">New position
            <input type="text" name="new_position" id="new_position">
        </label>
    </form>

    <div id="messages"></div>

    <script type="text/javascript">
        let url = `ws://${window.location.host}/ws/chess/{{game_id}}`

        const chatSocket = new WebSocket(url)

        chatSocket.onmessage = function(e){
            let data = JSON.parse(e.data)
            console.log('Data:', data)

            if(data.type === 'chat'){
                let messages = document.getElementById('messages')

                messages.insertAdjacentHTML('beforeend', `<div>
                                        <p>${data.game_id}</p>
                                        <p>${data.color}</p>
                                        <p>${data.piece}</p>
                                        <p>${data.new_position}</p>
                                    </div>`)
            }
        }

        let form = document.getElementById('form')
        form.addEventListener('submit', (e)=> {
            e.preventDefault()
            let message = e.target.message.value
            chatSocket.send(JSON.stringify({
                'message': message
            }))
            form.reset()
        })

    </script>
</body>
</html>